<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @link.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @link.link %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @link.icon %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
