<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ability.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @ability.icon %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @ability.skills %>
</p>

<%= link_to 'Edit', edit_ability_path(@ability) %> |
<%= link_to 'Back', abilities_path %>
